@import 'src/styles/base/base';

@mixin position-absolute($top, $right, $bottom, $left) {
  bottom: $bottom;
  left: $left;
  position: absolute;
  right: $right;
  top: $top;
}

@mixin position-fixed($top, $right, $bottom, $left) {
  bottom: $bottom;
  left: $left;
  position: fixed;
  right: $right;
  top: $top;
}

@mixin line-clamp($lines: 1) {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  overflow: hidden;
}

@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
