@import 'src/styles/mixins/index';
@import 'src/styles/base/base';

.search {
  min-height: 9.4rem;

  &__form {
    display: flex;
  }
  &__input {
    $_input-height: 6rem;

    min-height: $_input-height;
    padding: 0 1.6rem;
    width: 100%;
    transition: 0.5s;

    &::placeholder {
      @include text-style-h4;

      color: $color-font-secondary;
      font-weight: $font-weight-regular;
      line-height: $_input-height;
    }
  }

  &__button {
    padding: 0 1.3rem;
  }

  &__icon {
    $_icon-size: 3.4rem;

    width: $_icon-size;
    height: $_icon-size;
  }

  &__error-message {
    margin: 0.5rem 0;
  }

  @include if-phone () {
    text-align: center;

    &__input {
      $_input-height: 5rem;

      min-height: $_input-height;

      &::placeholder {
        line-height: $_input-height;
      }
    }

    &__button {
      padding: 0 1.2rem;
    }

    &__icon {
      width: 2.6rem;
      height: 2.6rem;
    }
  }
}
