@import 'src/styles/mixins/index';
@import 'src/styles/base/base';

.search {
  min-height: 9.4rem;

  &__form {
    display: flex;
  }

  &__input {
    @include text-style-h4;

    border: none;
    box-sizing: border-box;
    color: $color-font-secondary;
    margin: 0;
    min-height: 6rem;
    padding: 0 1.6rem;
    transition: 0.5s;
    width: 100%;

    &--error {
      background-color: lighten($color-error-primary, 20%);
    }

    &::placeholder {
      @include text-style-h4;

      color: $color-font-secondary;
      font-weight: $font-weight-regular;
    }
  }

  &__button {
    padding: 0 1.3rem;
  }

  &__icon {
    $_icon-size: 3.4rem;

    width: $_icon-size;
    height: $_icon-size;
  }

  &__validation-error {
    @include text-style-body;

    color: $color-error-primary;
    margin: 0.5rem 0;
  }

  @include if-phone () {
    text-align: center;

    &__input {
      min-height: 5rem;
    }

    &__button {
      padding: 0 1.2rem;
    }

    &__icon {
      width: 2.6rem;
      height: 2.6rem;
    }
  }
}
