// Colors
$color-green: #34e89e;
$color-white: #fff;
$color-red: #ff6e75;
$color-grey: #485461;
$color-light-grey: #808080;

// Theme
$color-primary: $color-green;
$color-error-primary: $color-red;

// Backgrounds
$color-background-primary: $color-grey;

// Buttons
$color-button-primary: $color-primary;

//Fonts
$color-font-primary: $color-white;
$color-font-secondary: $color-light-grey;

//Loader
$color-loader-primary: $color-primary;
